body {
    background-color: #0a192f;
    color: #ffffff;
    font-family: monospace;
    margin: 0;
}

header {
    height: 30px;
}

h1 {
    font-size: 1em;
    padding-top: 5px;
    text-align: center;
    margin: 0;
}

#orb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#orboptions {
    display: inline-block;
    width: min(20%, 200px);
    padding: 10px;
    margin: 0;
}

#orbpane {
    display: inline-block;
    width: 100%;
    margin: 0;
}

#orbcanvas {
    width: 100%;
    height: calc(100vh - 31px);
    margin: 0;
}